
.background {
    background-color: #a8b1e5;
    margin-top: 15px;
}

.rectangle {
    width: 80%;
    margin: 10vh auto;
    background-color: #FFFF;
    border-radius: 20px;
    padding: 60px;
    margin-bottom: 0;
    margin-top: 60px;
}

.rectangle:nth-child(2){
    margin-top: 10px;
}

.center {
    align-items: center;
    justify-content: center;
    font-size: 35px;
    display: flex;
    color:black;
}

    .center p {
        color: black;
        text-align: center;
        margin: 5px;
        font-size: 25px;
    }

.text {
    margin: 10px;
    display: flex;
    font-size: 17px;
    margin-bottom: 10px;
}


.definitions {
    border-radius: 10px;
    background-color: #a8b1e5;
    margin: 20px;
    padding: 20px;
    font-size: 17px;
}

.theory {
    border-radius: 10px;
    border-color: #b1d9e1;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    margin: 10px;
    font-size: 17px;
}

.theory_and_img {
    display: flex;
    text-align: center;
    margin: 15px;
    margin-right: 60px;
    font-size: 17px;
}

.theory2 {
    margin: 10px;
    font-size: 17px;
}

.decision {
    margin: 15px;
    font-size: 17px;
}

.input {
    width: 40px;
    height: 30px;
    text-align: center;
}

.btn {
    background-color: #a8b1e5;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 10px;
}

.size_text {
    margin: 10px;
    font-size: 17px;
}

.input2 {
    margin: 10px;
    height: 25px;
    width: 120px
}

.form {
    margin-left: 20px;
    margin-bottom: 10px;
}

.anim_button_1 {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    background-size: 200% auto;
    background-position: left top;
    border-color: transparent;
    color: #464646;
    transition: background-position 0.5s;
    text-align: center;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
}

.anim_button_1:hover {
    background-position: right bottom;
    color: #000;
}