.backgroun_find_an_Euler {
    background-color: #b1d9e1;
}

.theory_Euler_div {
    width: 80%;
    margin: 15vh auto;
    background-color: #FFFF;
    border-radius: 20px;
    padding: 60px;
    margin-bottom: 0px;
    padding: 40px;
    font-size: 17px;
    margin-top: 60px;
}

.theory_Euler_div:nth-child(2){
    margin-top: 10px;
}

.theorema {
    border-radius: 10px;
    border-color: #b1d9e1;
    padding: 10px;
    border-width: 2px;
    border-style: solid;
    margin: 15px;
}

.opred {
    border-radius: 10px;
    background-color: #d7f6fc;
    margin: 20px;
    padding: 20px;
}

.theory_and_img_2 {
    display: flex;
}

.theory_and_img_el {
    display: flex;
    text-align: center;
    margin: 15px;
}

    .theory_and_img_2 {
        min-width: 120px;
        margin: 10px;
        font-size: 12px;
        margin-right: 50px
    }

.theory_Euler_div h1 {
    font-family: 'Kreadon', sans-serif;
}

.anim_button {
    background-color: #FFFF;
    border-radius: 10px;
    background-color: #b1d9e1;
    width: 180px;
    height: 40px;
}

.anim_button {
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    background-size: 200% auto;
    background-position: left top;
    border-color: transparent;
    color: #464646;
    transition: background-position 0.5s;
}

.anim_button:hover {
    background-position: right bottom;
    color: #000;
}

.mynetwork {
    border-radius: 10px;
    border-color: #b1d9e1;
    border-width: 2px;
    border-style: solid;
    margin: 15px;
    width: 400px;
    height: 400px;
}