body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    justify-content: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    margin: 0px;
    margin-left: auto; /* Центрирование контента по горизонтали */
    margin-right: auto; /* Центрирование контента по горизонтали */
    max-width: 100%; /* Контент занимает всю ширину экрана */
}

.text_fotter {
    padding-left: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.name_site {
    background-image: url("/static/images/fon.png");
    width: 100%;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        
}

.heading_site {
    width: 100%;
    font-weight: bold;
}

.jump_buttons_div {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.jump_button {
    border-radius: 30px;
    padding: 5px;
    margin: 20px;
    text-align: center;
    width: 25%;
    min-height: 270px;
    background-color: #b1d9e1;
    justify-content: space-between;
    min-width: 250px;
}

    .jump_button:nth-child(2) {
        background-color: #a8b1e5;
    }

.text_method {
    min-height: 170px;
    height: 60%;
}

.name_method {
    height: 25%;
    margin: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.description_method {
    font-size: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.block {
    background-color: #a8b1e5;
    border-radius: 0 30px 30px 0;
    padding: 5px;
    height: 390px;
    width: 3%;
    margin-right: auto;
}

.block2 {
    background-color: #b1d9e1;
    border-radius: 30px 0 0 30px;
    padding: 5px;
    margin-left: auto;
    padding: 5px;
    height: 390px;
    width: 3%;
}

.welcome_msg_block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.welcome_msg {
    text-align: left;
    margin: 20px;
}

.welcome_msg h3{
    margin-bottom: 35px;
}

.welcome_msg_button_and_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
